<form id="entry-form" class="form-group" [formGroup]="entry" (ngSubmit)="submit(entry.value)" >
  
  <div formControlName="item" class="row">
    <!-- item -->
    <div class="col-4">
      <select
        class="form-control" 
        type="text"
        placeholder="item code" 
        formControlName="id">
        <option *ngFor="let item of itemList" >{{item.id}}</option>
        <!-- this.itemList -->
      </select>
    </div>
      <!-- <div *ngIf="user.get('item').get('id').hasError('required') && user.get('item').get('item').touched" class="error">
          *required
      </div> -->
   
    <!-- qty -->
    <div class="col-4">
      <input
        class="form-control" 
        type="text"
        placeholder="Qty" 
        formControlName="qty">
    </div>

    <div class="col-4">
        <button 
          class="btn btn-dark btn-block" 
          type="submit">Enter</button>
    </div>
  </div>
</form>

<pre>{{entry.value| json}}</pre>