<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" colspan="2">Item Description</th>
      <th scope="col">Qty</th>
      <th scope="col">Rate</th>
      <th scope="col">Gross</th>
      <th scope="col">Discount</th>
      <th scope="col">Net</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td colspan="2">Anker milk powder 400g</td>
      <td>2</td>
      <td>Rs: 350</td>
      <td>Rs: 700</td>
      <td>0%</td>
      <td>Rs: 700</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td colspan="2">Anker milk powder 400g</td>
      <td>2</td>
      <td>Rs: 350</td>
      <td>Rs: 700</td>
      <td>0%</td>
      <td>Rs: 700</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Anker milk powder 400g</td>
      <td>2</td>
      <td>Rs: 350</td>
      <td>Rs: 700</td>
      <td>0%</td>
      <td>Rs: 700</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td colspan="2">Anker milk powder 400g</td>
      <td>2</td>
      <td>Rs: 350</td>
      <td>Rs: 700</td>
      <td>0%</td>
      <td>Rs: 700</td>
    </tr>
  </tbody>
</table>