<router-outlet></router-outlet>
<app-header></app-header>
<div>
    <app-nav></app-nav>
</div>

<div class="row" style="padding: 15px">
  <div class="col-6">
    <app-company></app-company>
  </div>
  <div class="col-6 text-right">
    <app-user-entry></app-user-entry>
  </div>
</div>

<div style="padding: 15px">
    <app-item-list></app-item-list>
</div>

<div class="row" style="padding: 15px">
  <div class="col-6 text-center">
    <app-loyalty></app-loyalty>
  </div>
  <div class="col-6 text-center">
    <app-bill></app-bill>
  </div>
</div>
<div style="padding: 15px">
    <app-end-description></app-end-description>
</div>
